body {
    background-color: #89aab6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.banner{
    width: 80%;
    background-color: #fff;
    padding-inline: 10%;
    
}
h1{
    text-align: center;
    color: #000000;
    font-size: 2.5rem;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #d2dbe1;
}
.navbar {
    display: flex;
    
    
    background-color: #ffffff;
    color: #000000;
    font-size: clamp(.5rem, 2vw, 1rem);
    margin-top: -4px;
    box-shadow: 2px 3px 10px #69848e;


    
}
a{
    text-decoration: none;
    color: #000000;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    margin: 0;
    padding: 0;
    height: 40px;
    transition: 0.5s;
    border-left: 2px solid #d2dbe1;
    
}
a:hover{
    background-color: #d2dbe1;
    flex: 1.1;
    cursor: pointer;
    
}
.innhold{
    margin-inline: 10%;
    background-color: #fff;
    padding-inline: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 3px 10px #69848e;
    border-radius: 3px;
    margin-right: 40px;
    text-align: justify;
    
    
}
.innhold p{
    font-size: clamp(.7rem, 2.0vw, 2.2rem);
    
    padding: 10px;
    
    
}
.innhold h2{
    text-align: center;
    color: #000000;
    font-size: 2rem;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    
}



.block {
    border: #69848e 2px solid;
    width:15%;
    float: right;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-inline:10% ;
    
    margin-left: 30px;
    
    
    box-shadow:  2px 2px 2px 2px  #d2dbe1;

    
}
.block img{
    width:100%;
}
.block button{
    background-color: #ef4141;
    color: #fff;
    border: none;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    transition: .2s;
}
.block button:hover{
    background-color: #146f91;
    color: #fff;
    border: none;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
    
}




/* handlekurv icon */
.badge:after{

    content:attr(data-value);

    font-size:12px;

    color: #fff;

    background: red;

    border-radius:50%;

    padding: 0 5px;

    position:relative;

    left:-8px;

    top:-10px;

    opacity:0.9;

}


/* ------- pop_up ------- */

.pop_up{
    display: none;
    position: fixed;
    
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    
    background-color: rgba(0,0,0,0.4);
}
.pop_innhold{
    background-color: #fefefe;
    margin-inline: 20%;
    padding: 20px;
    border: 1px solid #888;
    margin-top: 5%;
    border-radius: 4px;
   
}

.knapper_flex{
    display: flex;
    gap: 5px;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
.pop_innhold h2{
    text-align: center;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.pop_innhold button{
    
    background-color:#89aab6;
    border: none;
    height: 50px;
    width: 40%;
    border-radius: 10px;
    color: #ffffff;
    
}

.pop_innhold button:hover{
    background-color:#69848e;
    cursor: pointer;
    
}

.fleks_bilde{
    display: flex;
    align-items: center;
    justify-content: center;
}
#pop_bilde{
    width: 180px;
    height: auto;
}


